* {
    margin: 0;
    padding: 0;
}

.fondo {
    background-image: url(../multimedia/desktop-wallpaper-black-with-smoke-grey-smoke.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.imgPortada {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hijoPortada {
    display: flex;
    margin: 10px;
    object-fit: cover;
}

.menuDesplegable {
    display: none;
}

.contenedorMenu {
    height: 60px;
    background-color: #000000;
}

nav ul li {
    display: inline-block;
    background-color: #37765a;
    line-height: 30px;
    border-radius: 5px;

    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
}

a:hover {
    background-color: rgb(3, 54, 24);
}

li {
    margin: 1rem;
    text-align: center;
}

footer {
    background-color: #37765a;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;

    p {
        color: black;
        font-size: 70%;
        text-align: center;
        font-family: cursive;
    }
}

.pHijo {
    justify-content: center;
    align-items: center;
}

.textoPie {
    color: black;
}

/* css servicio tecnico */

.stContenedor {
    color: #37765a;
    font-size: 20px;
}

@media (max-width: 480px) {
    .contenedorProductos {
        display: grid;
        grid-template-columns: 1fr;
    }

    .encaBezado {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .hijoLogo {
        justify-content: center;
        order: inherit;
        margin: 0;
    }

    .hijoH1 {
        text-align: center;
        margin: 0;
    }

    .imgPortada {
        display: none;
    }

    .hijoBoton {
        margin: 0;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    nav ul {
        display: flex;
        width: 100%;
    }

    li {
        margin: 0px;
    }

    .pDescripcion {
        text-align: justify;
        font-size: 1rem;
    }

    .contH5 {
        width: 100%;
    }

    .contFooter {
        height: 10px;
    }

    .contenedorMenu nav {
        display: none;
    }

    .menuDesplegable {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #37765a;
    }

    .fonMenu {
        background-color: #37765a;
    }
}

@media (max-width: 800px) {
    .contenedorProductos {
        display: grid;
        grid-template-columns: 1fr 1fr;

        width: 90%;
    }

    .galeriaContenedor {
        display: flex;
        flex-direction: column;
        
    }

    .encaBezado {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .conLogo {
        justify-content: center;
    }

    .contH5 {
        width: 80%;
    }

    .hijoPortadano,
    .hijoBoton {
        display: none;
    }

    .hijoH1 {
        margin: 0%;
        margin-bottom: 2%;
    }

    .hijoLogo {
        margin: 0%;
        width: 20%;
        height: 5%;
    }
}