.pHijo {
    justify-content: $centrar;
    align-items: $centrar;
  }
  
  footer {
    background-color: $color-verde;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
  
    p {
      color: $color-negro;
      font-size: 70%;
      text-align: $centrar;
      font-family: cursive;
    }
  }
  
  .phijoEnvio {
    display: flex;
  }
  
  .logoEnvio {
    width: 30%;
  }