/* html contactos */

.subTitulo {
    text-align: center;
    color: #37765a;
    font-size: 2rem;
    margin-top: 6%;
  }
  
  h5 {
    color: #37765a;
  }
  
  .contH5 {
    padding: 100px;
    display: flex;
    flex-direction: column;
    color: #37765a;
    width: 60%;
  }
  