.encaBezado {
    display: flex;
    justify-content: space-between;
    background-color: $color-verde;
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hijoLogo {
    width: 8rem;
    margin-left: 200px;
    color: #7a0f0f;
    justify-self: flex-end;
}

.hijoH1 {
    margin-right: 100px;
    color: $color-negro;
    font-family: Impact;
    font-size: 150%;
    justify-self: center;
    align-self: center;
    text-decoration: none;
}

.hijoBoton {
    padding: 5px 5px;
    font-size: 1rem;
    margin: 60px 100px 30px 30px;
    color: $color-verde;
    background-color: $color-negro;
    text-transform: uppercase;
    border-radius: 5px;
}