.imgPortada {
    display: flex;
    justify-content: $centrar;
    width: 100%;
  }
  
  .hijoPortada {
    display: flex;
    margin: 10px;
    object-fit: cover;
    width: 100%;
  }
  
  .imgPor {
    width: 100%;
  }
  