.contenedorProductos {
    display: flex;
    justify-content: $centrar;
    width: $ancho-100;
}

.hijoProductos {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: $centrar;
    width: 90%;
}

.imgProductos {
    width: $ancho-100;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.tituloProductos {
    color: $color-verde;
    text-align: $centrar;
}

.pDescripcion {
    font-size: 1rem;
    text-align: $centrar;
}

.botonProductos {
    padding: 10px;
    background-color: $color-verde;
    cursor: pointer;
    margin-top: 10px;
}