* {
    margin: 0;
    padding: 0;
}

.fondo {
    background-image: url(../multimedia/desktop-wallpaper-black-with-smoke-grey-smoke.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}