.contFrom {
    width: 50%;
}

.divFrom {
    justify-content: center;
    display: flex;
}

.stContenedor {
    color: $color-verde;
    font-size: 20px;
    width: 60%;
    margin-bottom: 5%;
}

.contLi {
    justify-content: center;
}